@font-face
{
	font-family: 'SegoeUIBold';
	src: url(../fonts/SegoeUIBold.ttf);
}
@font-face
{
	font-family: 'SegoeUILight';
	src: url(../fonts/SegoeUILight.ttf);
}
@font-face
{
	font-family: 'SegoeUIRegular';
	src: url(../fonts/SegoeUIRegular.ttf);
}
@font-face
{
	font-family: 'SegoeUISemibold';
	src: url(../fonts/SegoeUISemiBold.ttf);
}
h1,
h2,
h3,
h4,
p,
img,
form,
body
{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
body
{
	font: 100%/1.5em;
	font-family: 'SegoeUIRegular', sans-serif, Arial;
	color: #fff;
	background-color: #ebebeb;
}

a
{
	text-decoration: none;
}
.wrap1
{
	width: 100%;
	min-height: 800px;
	background: url(../images/hero.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.wrap2
{
	width: 100%;
	background-color: rgba(69, 80, 87, .8);
}
header
{
	font-family: 'SegoeUIBold';
	max-width: 1170px;
	height: 150px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: justify;
}
header::after
{
	display: inline-block;
	width: 100%;
	content: '';
}
header .logo
{
	font-size: 1.875em;
	font-weight: bold;
	display: inline-block;
	height: 100%;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.logo_blue
{
	color: #4bcaff;
}
.touch-menu {
	color: #fff;
	display: none;
}
.fa {
	color: white;
}
.portfolio_menu .fa {
	color: #4bcaff;
	padding-right: 10px;

}

header .logo::before
{
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
.menu
{
	display: inline-block;

}
.menu a
{
	font-size: 0.875em;
	line-height: 1.714;
	margin: 0 10px;
	padding: 6px 18px;
	-webkit-transition: border-color .5s, color .5s;
	transition: border-color .5s, color .5s;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .902);
}
.menu a:hover
{
	margin: 0 8px;
	color: #4bcaff;
	border: 2px solid #4bcaff;
}

.hero
{
	max-width: 1170px;
	font-family: 'SegoeUILight';
	font-size: 2.625em;
	line-height: 1.5;
	margin: 250px auto 0;
	text-align: center;
	text-transform: uppercase;
}
.hero1
{
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
	background-color: rgba(69, 80, 87, .8);
}
.hero2
{
	margin-top: 12px;
	padding: 0 15px;
	background-color: rgba(69, 80, 87, .8);
}
.services
{
	
	padding: 0 10px;
	box-sizing: border-box;
	background-color: #4bcaff;

}
.services_wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0 45px;

}
.section_header
{
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	text-align: left;
	text-transform: uppercase;

}
.section_header:after
{
	display: block;
	width: 45px;
	height: 2px;
	margin-top: 10px;
	content: '';
	background-color: #fff;
}
.services_column
{
    display: inline-block;
    width: 23.07692307692308%;
    padding: 40px 5px 30px;
    vertical-align: top;
    box-sizing: border-box;
}


.services_column img
{
	height: 40px;
}
.services_column_header
{
	font-family: 'SegoeUISemibold';
	font-size: 1.5em;
	line-height: 1;
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: left;
	text-transform: uppercase;}
.services_column p
{
	font-family: 'SegoeUIRegular';
	font-size: 0.75em;
	line-height: 1.5;
}
.portfolio
{
	
	
	background-color: #fff;

}
.portfolio_wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0 50px;
	color: #515f67;
	background-color: #fff;
	text-align: center;


}
.portfolio_wrap a
{
	color: #515f67;
}

.portfolio_nav a 
{
	font-family: 'SegoeUIBold';
	padding: 6px 15px;

}

.portfolio_menu .section_header::after
{
	content: '';
	background-color: #515f67;
}
.portfolio_menu
{
	width: 100%;
	margin-bottom: 60px;
	text-align: justify;

}
.portfolio_menu::after
{
	display: inline-block;
	width: 100%;
	content: '';
}
.portfolio_menu .section_header
{
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}

.image
{
	position: relative;
	display: inline-block;
	width: 23.07692307692308%;
	margin: 5px;	
}

.image img
{
	width: 100%;
	height: auto;
	display: block;
}

.block-hidden
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(53, 63, 71, .7);
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.block-hidden:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.image:hover .block-hidden
{
	opacity: 1;
}
.block-hidden a
{
	font-size: 4.5em;
	text-transform: uppercase;
	opacity: .8;
	color: rgb(255, 255, 255);
	vertical-align: middle;
}

.default
{
	padding: 0 10px;
	background-color: #515f67;
}
.default_wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 80px 0 50px;
}
.default_wrap p
{
	font-family: 'SegoeUIRegular';
	font-size: 0.875em;
	line-height: 1.714;
	margin: 30px 0 20px;
	text-align: left;
	color: rgb(255, 255, 255);
}
.default_wrap .default_button
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	display: inline-block;
	margin: 10px 0 30px;
	padding: 10px 40px;
	-webkit-transition: border-color .5s, color .5s, background-color .5s;
	transition: border-color .5s, color .5s, background-color .5s;
	text-align: center;
	text-transform: uppercase;

	color: #353f46;
	border: 2px solid #353f46;
}
.default_wrap .default_button:hover
{
	color: #ebebeb;
	border-color: #ebebeb;
	background-color: #4bcaff;
}

.default_wrap .default_button:active
{
	background-color: rgb(2, 166, 238);
}
.default_wrap iframe
{
	float: right;
	width: 47.86324786324786%;
	min-height: 315px;
	background-color: #fff;
}
.left_column
{
	float: left;
	width: 40.17094017094017%;
}
.twitter
{
	
	padding: 0 10px;
	color: rgb(255, 255, 255);
	background-color: #4bcaff;
}
.twitter_wrap
{
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0;
}
.twitter_wrap .section_header
{
	float: left;
}
.twit_href
{
	display: inline-block;
	float: right;
}
.twitter_wrap p
{
	font-family: 'SegoeUILight';
	font-size: 1.75em;
	line-height: 1.7;
	clear: both;
	margin-top: 60px;
}
.bold
{
	font-family: 'SegoeUIBold';
}
.john
{
	overflow: hidden;
	padding: 0 10px;
	min-height: 505px;
	background: url(../images/footer.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.john_wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0;
}
.john_wrap p
{
	font-family: 'SegoeUIRegular';
	font-size: 0.875em;
	line-height: 1.714;
	margin: 30px 0;
	text-align: left;
}

.john_l
{
	
	float: left;
	width: 48.71794871794872%;
}

.john_r
{
	
	float: right;
	width: 48.71794871794872%;
}
.john_r a
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px 15px 0 0;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	color: #fff;
	border: 2px solid #fff;
}
.john_r a:last-child {
	margin-right: 0;
}
.john_r a > i
{
	position: absolute;
	top: 25%;
	left: 25%;
}
.john_r a:hover
{
	color: #ebebeb;
	border-color: #ebebeb;
	background-color: #4bcaff;
}
.testiominals
{
	overflow: hidden;
	padding: 0 10px;
	
	color: rgb(81, 95, 103);
	background: #fff;
}
.test_wrap
{
	max-width: 1170px;
	margin: 75px auto 55px;
}
.test_wrap .section_header::after
{
	content: '';
	background-color: #515f67;
}
.test_wrap .section_header
{
	float: left;
}
.kov
{
	font-size: 4.5em;
	line-height: .694;
	display: inline-block;
	float: right;
}
.test_wrap p
{
	font-family: 'SegoeUILight';
	font-size: 1.7em;
	line-height: 1.786;
	clear: both;
	padding: 15px 0 15px;
	color: rgb(81, 95, 103);
}
.walter
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	font-weight: bold;
	line-height: 3.571;
	color: rgb(75, 202, 255);
}
.contact
{
	padding: 0 10px;
	min-height: 810px;
	background: url(../images/footer2.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.contact_wrap
{
	overflow: hidden;
	margin: 0 auto;
	max-width: 1170px;
	padding: 75px 0;
}
.contact_l
{
	float: left;
	width: 39.31623931623932%;
	margin-top: 35px;
}
.contact_wrap label
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.contact_wrap input
{
	border: 2px solid #fff;
	outline: none;
}


.contact_l input[type='text'],
input[type='email']
{
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	box-sizing: border-box;
	width: 100%;
	height: 56px;
	margin-bottom: 35px;
	padding: 13px 20px 13px 20px;
	text-align: left;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background: transparent;
}
.contact_l input[type='text']:focus,
input[type='email']:focus
{
	background-color: rgba(75, 202, 255, .3);

}
.contact_l textarea
{
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	line-height: 1.2;
	box-sizing: border-box;
	width: 250%;
	height: 215px;
	margin-bottom: 40px;
	padding: 13px 20px 13px 20px;
	text-align: left;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	border: 2px solid #fff;
	outline: none;
	background: transparent;
}
.contact_l textarea:focus
{
	background-color: rgba(75, 202, 255, .3);

}
.contact_l input[type='submit']
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	width: 92.5%;
	height: 60px;
	cursor: pointer;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgba(75, 202, 255, .8);
}
.contact_l input[type='submit']:active
{
	background-color: rgb(2, 166, 238);

}
.contact_r
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.875em;
	line-height: 1.714;
	float: right;
	width: 48.71794871794872%;
	margin-top: 55px;
}
.contact_wrap p
{
	margin-bottom: 30px;
}
.contact_textarea
{
	clear: both;
}

footer
{
	overflow: hidden;
	
	padding: 0 10px;
	background-color: #353f47;
}
.footer_wrap
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.75em;
	line-height: 2;
	max-width: 1170px;
	margin: 75px auto;
	text-transform: uppercase;
	color: rgb(81, 95, 103);
}

.footer_wrap p
{
	float: right;
}
.footer_nav
{
	float: left;
}
.footer_wrap a
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.75em;
	line-height: 2;
	margin-left: 11px;
	padding-right: 14px;
	text-transform: uppercase;
	color: rgb(81, 95, 103);
	border-right: 2px solid rgb(81, 95, 103);
}

.footer_wrap a:first-child
{
	margin-left: 0;
}
.footer_wrap a:last-child
{
	border-right: none;
}

.footer_wrap::after
{
	display: inline-block;
	clear: both;
	content: '';
}



@media screen and (max-width: 768px) {
	header {height: 80px; }
	header .menu {width: 100%; display: none; background-color: rgba(69, 80, 87, 1); position: absolute; left: 0;top:80px}
	header .menu a { display: block; padding: 20px; font-size: 1em; color: #fff;}
	header .menu a:hover{padding: 18px 20px;}
	.touch-menu {display: inline-block;}
	.portfolio_menu .touch-menu {float: right;}
	.portfolio_menu .menu {width: 100%; display: none; background-color: #515f67; margin-top: 5px; position: absolute; z-index:5;}
	.portfolio_menu .menu a { display: block; padding: 20px; font-size: 1em; color: #fff;}
	.portfolio_menu	.menu a:hover{padding: 18px 20px;}
	.services_column {width: 48%; text-align: center;}
	.services_column_header {text-align: center;}
	.services_column p {text-align: left;}
	.image{width: 46.153846%;}
	.default_wrap iframe {clear: both; width: 100%;}
	.left_column {width: 100%;}
	.john_l{width: 45%; padding: 10px; box-sizing: border-box;}
	.john_r {width: 55%; padding: 10px; box-sizing: border-box;}
}
@media screen and (max-width: 768px)  and (min-width: 561px) {
	.contact_wrap label:nth-child(3) {margin-top: 40px;}
	.contact_wrap label:nth-child(5) {margin-top: 40px;}
}
@media screen and (max-width: 560px) {
	.wrap1 {min-height: 700px;}
	.hero {margin-top: 100px}
	.services_column {width: 80%; margin: 0 auto; float: none; font-size: 1.5em;}
	.image{min-width: 92.307692%;}
	.default {font-size: 1.5em;}
	.john_wrap p {font-size: 1.2em;}
	.john_l{width: 100%; }
	.john_r {width: 100%;}
	.contact_l {float: none; width: 100%;}
	.contact_l textarea {width: 100%;}
	.contact_r {width: 100%;}
	.contact_l input[type='submit'] {width: 100%;}
	.footer_wrap {margin: 15px auto;}
	.footer_wrap a {font-size: 1.5em; display: block; margin-left: 0 }
	.footer_wrap a:last-child { border-right: 2px solid rgb(81, 95, 103);}
}
