@font-face
{
	font-family: 'SegoeUIBold';
	src: url(../fonts/SegoeUIBold.ttf);
}
@font-face
{
	font-family: 'SegoeUILight';
	src: url(../fonts/SegoeUILight.ttf);
}
@font-face
{
	font-family: 'SegoeUIRegular';
	src: url(../fonts/SegoeUIRegular.ttf);
}
@font-face
{
	font-family: 'SegoeUISemibold';
	src: url(../fonts/SegoeUISemiBold.ttf);
}
h1,
h2,
h3,
h4,
p,
img,
form,
body
{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
body
{
	font: 100%/1.5em;
	font-family: 'SegoeUIRegular', sans-serif, Arial;
	color: #fff;
	background-color: #ebebeb;
}

a
{
	text-decoration: none;
}
.main-wrap {
	max-width: 1920px;
	margin: 0 auto;
}
.hero-wrap
{
	width: 100%;
	min-height: 800px;
	background: url(../images/hero.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.header-cont
{
	width: 100%;
	background-color: rgba(69, 80, 87, .8);
}
header
{
	font-family: 'SegoeUIBold';
	max-width: 1170px;
	height: 150px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: justify;
}
header::after
{
	display: inline-block;
	width: 100%;
	content: '';
}
.logo
{
	font-size: 1.875em;
	font-weight: bold;
	display: inline-block;
	height: 100%;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.logo:before
{
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}
.logo_blue
{
	color: #4bcaff;
}
.touch-menu {
	color: #fff;
	display: none;
	cursor: pointer;
}
.fa {
	color: white;
}
.fa_portfolio  {
	color: #4bcaff;
	padding-right: 10px;
}
.menu
{
	display: inline-block;

}
.menu__link
{
	font-size: 0.875em;
	line-height: 1.714;
	margin: 0 10px;
	padding: 6px 18px;
	-webkit-transition: border-color .5s, color .5s;
	transition: border-color .5s, color .5s;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .902);
}
.menu__link:hover
{
	margin: 0 8px;
	color: #4bcaff;
	border: 2px solid #4bcaff;
}

.hero
{
	max-width: 1170px;
	font-family: 'SegoeUILight';
	font-size: 2.625em;
	line-height: 1.5;
	margin: 250px auto 0;
	text-align: center;
	text-transform: uppercase;
}
.hero__text
{
	margin: 0 auto;
	padding: 0 15px;
	text-align: center;
	background-color: rgba(69, 80, 87, .8);
}

.hero__text_mt {
	margin-top: 12px;
}

.services
{
	
	padding: 0 10px;
	box-sizing: border-box;
	background-color: #4bcaff;

}
.services-wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0 45px;

}
.section-header
{
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	text-align: left;
	text-transform: uppercase;

}
.section-header:after
{
	display: block;
	width: 45px;
	height: 2px;
	margin-top: 10px;
	content: '';
	background-color: #fff;
}
.col
{
    display: inline-block;
    width: 23.07692307692308%;
    padding: 40px 5px 30px;
    vertical-align: top;
    box-sizing: border-box;
}


.ico
{
	height: 40px;
}
.col__header
{
	font-family: 'SegoeUISemibold';
	font-size: 1.5em;
	line-height: 1;
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: left;
	text-transform: uppercase;}
.col__info
{
	font-family: 'SegoeUIRegular';
	font-size: 0.75em;
	line-height: 1.5;
}
.portfolio
{
	background-color: #fff;
}
.portfolio-wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0 50px;
	color: #515f67;
	background-color: #fff;
	text-align: center;
}
.menu__link_clr
{
	color: #515f67;
	font-family: 'SegoeUIBold';
	padding: 6px 15px;
}

.section-header_after:after
{
	content: '';
	background-color: #515f67;
}
.portfolio-menu
{
	width: 100%;
	margin-bottom: 60px;
	text-align: justify;
	position: relative;

}
.portfolio-menu::after
{
	display: inline-block;
	width: 100%;
	content: '';
}
.section-header_inline
{
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}

.item
{
	position: relative;
	display: inline-block;
	width: 23.07692307692308%;
	margin: 5px;	
}

.item__img
{
	width: 100%;
	height: auto;
	display: block;
}
.item__link {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}
.block-hidden
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(53, 63, 71, .7);
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.block-hidden:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.item:hover .block-hidden
{
	opacity: 1;
}
.block-hidden__link
{
	font-size: 4.5em;
	text-transform: uppercase;
	opacity: .8;
	color: rgb(255, 255, 255);
	vertical-align: middle;
}

.default
{
	padding: 0 10px;
	background-color: #515f67;
}
.default-wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 80px 0 50px;
}
.default__text
{
	font-family: 'SegoeUIRegular';
	font-size: 0.875em;
	line-height: 1.714;
	margin: 30px 0 20px;
	text-align: left;
	color: rgb(255, 255, 255);
}
.default-btn
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	display: inline-block;
	margin: 10px 0 30px;
	padding: 10px 40px;
	-webkit-transition: border-color .5s, color .5s, background-color .5s;
	transition: border-color .5s, color .5s, background-color .5s;
	text-align: center;
	text-transform: uppercase;

	color: #353f46;
	border: 2px solid #353f46;
}
.default-btn:hover
{
	color: #ebebeb;
	border-color: #ebebeb;
	background-color: #4bcaff;
}

.default-btn:active
{
	background-color: rgb(2, 166, 238);
}
.iframe
{
	float: right;
	width: 47.86324786324786%;
	min-height: 315px;
	background-color: #fff;
}
.col_l
{
	float: left;
	width: 40.17094017094017%;
}
.twitter
{
	
	padding: 0 10px;
	color: rgb(255, 255, 255);
	background-color: #4bcaff;
}
.twitter-wrap
{
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0;
}
.section-header_l
{
	float: left;

}

.section-header_twit:after {
    content: '';
    background-color: white;
}
.twit-href
{
	display: inline-block;
	float: right;
}
.twitter__text
{
	font-family: 'SegoeUILight';
	font-size: 1.75em;
	line-height: 1.7;
	clear: both;
	margin-top: 60px;
}
.twitter__text_bold
{
	font-family: 'SegoeUIBold';
}
.sec
{
	overflow: hidden;
	padding: 0 10px;
	min-height: 505px;
	background: url(../images/footer.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.sec-wrap
{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	padding: 75px 0;
}
.sec-wrap__text
{
	font-family: 'SegoeUIRegular';
	font-size: 0.875em;
	line-height: 1.714;
	margin: 30px 0;
	text-align: left;
}

.sec_l
{
	
	float: left;
	width: 48.71794871794872%;
}

.sec_r
{
	
	float: right;
	width: 48.71794871794872%;
}
.sec__link
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px 15px 0 0;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	color: #fff;
	border: 2px solid #fff;
}
.sec__link_lst {
	margin-right: 0;
}
.sec__ico
{
	position: absolute;
	top: 25%;
	left: 25%;
}
.sec__link:hover
{
	color: #ebebeb;
	border-color: #ebebeb;
	background-color: #4bcaff;
}
.testiominals
{
	overflow: hidden;
	padding: 0 10px;
	
	color: rgb(81, 95, 103);
	background: #fff;
}
.test-wrap
{
	max-width: 1170px;
	margin: 75px auto 55px;
}
.section-header_l
{
	float: left;
}
.kov
{
	font-size: 4.5em;
	line-height: .694;
	display: inline-block;
	float: right;
}
.test__text
{
	font-family: 'SegoeUILight';
	font-size: 1.7em;
	line-height: 1.786;
	clear: both;
	padding: 15px 0 15px;
	color: rgb(81, 95, 103);
}
.author
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	font-weight: bold;
	line-height: 3.571;
	color: rgb(75, 202, 255);
}
.contact
{
	padding: 0 10px;
	min-height: 810px;
	background: url(../images/footer2.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
}
.contact-wrap
{
	overflow: hidden;
	margin: 0 auto;
	max-width: 1170px;
	padding: 75px 0;
}
.contact__l
{
	float: left;
	width: 39.31623931623932%;
	margin-top: 35px;
}
.contact__label-txt
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.contact__inpt
{
	border: 2px solid #fff;
	outline: none;
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	box-sizing: border-box;
	width: 100%;
	height: 56px;
	margin-bottom: 35px;
	padding: 13px 20px 13px 20px;
	text-align: left;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background: transparent;
}
.contact__inpt:focus
{
	background-color: rgba(75, 202, 255, .3);

}
.contact__msg
{
	font-family: 'SegoeUILight';
	font-size: 1.875em;
	line-height: .8;
	line-height: 1.2;
	box-sizing: border-box;
	width: 250%;
	height: 215px;
	margin-bottom: 40px;
	padding: 13px 20px 13px 20px;
	text-align: left;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	border: 2px solid #fff;
	outline: none;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
}
.contact__msg:focus
{
	background-color: rgba(75, 202, 255, .3);

}
.btn-msg
{
	font-family: 'SegoeUIBold';
	font-size: 0.875em;
	line-height: 1.714;
	width: 92.5%;
	height: 60px;
	cursor: pointer;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgba(75, 202, 255, .8);
	outline: none;
	border: 2px solid #fff;
}
.btn-msg:active
{
	background-color: rgb(2, 166, 238);

}
.contact__r
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.875em;
	line-height: 1.714;
	float: right;
	width: 48.71794871794872%;
	margin-top: 55px;
}
.contact__r_text
{
	margin-bottom: 30px;
}

footer
{
	overflow: hidden;
	
	padding: 0 10px;
	background-color: #353f47;
}
.footer-wrap
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.75em;
	line-height: 2;
	max-width: 1170px;
	margin: 75px auto;
	text-transform: uppercase;
	color: rgb(81, 95, 103);
}

.footer__info
{
	float: right;
}
.footer-nav
{
	float: left;
}
.footer__link
{
	font-family: 'SegoeUISemiBold';
	font-size: 0.75em;
	line-height: 2;
	margin-left: 11px;
	padding-right: 14px;
	text-transform: uppercase;
	color: rgb(81, 95, 103);
	border-right: 2px solid rgb(81, 95, 103);
}

.footer__link_fst
{
	margin-left: 0;
}
.footer__link_lst
{
	border-right: none;
}

.footer-wrap::after
{
	display: inline-block;
	clear: both;
	content: '';
}



@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }
    .menu {
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
        width: 100%;
        background-color: rgba(69, 80, 87, 1);
    }
    .menu__link {
        font-size: 1em;
        display: block;
        padding: 20px;
        color: #fff;
    }
    .menu__link:hover {
        padding: 18px 20px;
    }
    .touch-menu {
        display: inline-block;
    }
    .portfolio-menu__tch {
        float: right;
    }
    .menu__portfolio {
        position: absolute;
        z-index: 5;
        display: none;
        width: 100%;
        background-color: #515f67;
    }
    .menu__link {
        font-size: 1em;
        display: block;
        padding: 20px;
        color: #fff;
    }
    .menu__link:hover {
        padding: 18px 20px;
    }

    .col {
        width: 48%;
        text-align: center;
    }
    .col__header {
        text-align: center;
    }
    .col_text {
        text-align: left;
    }
    .item {
        width: 46.153846%;
    }
    .iframe {
        clear: both;
        width: 100%;
    }
    .col_l {
        width: 100%;
    }
    .sec_l {
        box-sizing: border-box;
        width: 45%;
        padding: 10px;
    }
    .sec_r {
        box-sizing: border-box;
        width: 55%;
        padding: 10px;
    }
}
@media screen and (max-width: 768px)  and (min-width: 561px) {
    .contact__label-txt_mt {
        margin-top: 40px;
    }
}
@media screen and (max-width: 560px) {
    .hero-wrap {
        min-height: 700px;
    }
    .hero {
        margin-top: 100px;
    }
    .col {
        font-size: 1.5em;
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .item {
        min-width: 92.307692%;
    }
    .default {
        font-size: 1.5em;
    }
    .sec-wrap__text{
        font-size: 1.2em;
    }
    .sec_l {
        width: 100%;
    }
    .sec_r {
        width: 100%;
    }
    .contact__l {
        float: none;
        width: 100%;
    }
    .contact__msg {
        width: 100%;
    }
    .contact__r {
        width: 100%;
    }
    .btn-msg {
        width: 100%;
    }
    .footer-wrap {
        margin: 15px auto;
    }
    .footer__link {
        font-size: 1.5em;
        display: block;
        margin-left: 0;
    }
    .footer__link_lst {
        border-right: 2px solid rgb(81, 95, 103);
    }
}
